# Python
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Django static
/staticfiles/
/media/

# VSCode
.vscode/

# Node
node_modules/
frontend/node_modules/

# Ambiente virtual
venv/

# Env
.env

# Logs
*.log
