# === Ambiente Python ===
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.mo

# === Configuração do Django ===
*.env
.env
*.secret
*.db

# === Node.js ===
node_modules/
package-lock.json

# === Tailwind/DaisyUI ===
static/css/output.css
staticfiles/

# === Editor/IDE ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# === Sistema operacional ===
.DS_Store
Thumbs.db

# === Arquivos temporários ===
*.bak
*.swp
*.tmp
*.log
*.orig

# === Outras pastas geradas ===
coverage/
dist/
build/
