@import 'tailwindcss' source(none);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@source './backend/templates';

@theme {
  --color-fundo: var(--fundo);
  --color-primario: var(--primario);
  --color-secundario: var(--secundario);
  --color-destaque: var(--destaque);
  --color-texto: var(--texto);
}

@layer base {
  :root {
    --fundo: rgb(43, 61, 45);
    --primario: rgb(47, 51, 34);
    --secundario: rgb(47, 51, 34);
    --destaque: rgb(47, 51, 34);
    --texto: rgb(0, 0, 0);
  }

  body {
    @apply text-base text-texto font-medium leading-relaxed;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-gray-900;
  }

  p {
    @apply text-lg text-gray-800;
  }

  a {
    @apply font-semibold;
  }
}
